<!DOCTYPE html>
<html lang="fi">
<head>
<title>Elokuvan Info</title>
<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
<link rel="stylesheet" href="styles.css">
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="skriptit.js"></script>
</head>
<body>

    <div class="jumbotron">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Takaisin alkuun</a>
                </div>
            </div>
        </nav>
            

    <div class="container">
        
            <h2 class="text-center">Elokuvan tiedot</h2>
            
        </div>
    </div>

    <div class="container">
        <div id="movie" class="movieDiv"></div>
    </div>

    <script>
        getMovie();
    </script>

</body>
</html> 